* {
  margin: 0;
  padding: 0;
}

body {
  background-color: gray;
}

.header {
  display: flex;
  flex-direction: row;
  background-color: black;
  height: 9vh;
  justify-content: space-around;
}
.settings-btn {
  height: 7vh;
  min-width: 22vw;
  background-color: black;
  color: yellow;
  border: white solid 1px;
  font-size: larger;
}

.repeat-btn {
  height: 7vh;
  min-width: 22vw;
  background-color: black;
  color: yellow;
  border: white solid 1px;
  font-size: larger;
}

.fullscreen {
  display: flex;
  justify-content: flex-start;
}

.fullscreen-btn {
  display: flex;
  height: 7vh;
  min-width: 28vw;
  background-color: black;
  color: yellow;
  border: white solid 1px;
  font-size: larger;
  justify-content: center;
  align-items: center;
}

/*cad2c5
84a98c
52796f
354f52
2f3e46*/

/*778da9
415a77
1b263b
0d1b2a*/
